body {
  background-color: rgb(1, 6, 68);
  margin: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  font-family: sans-serif;

}

button.chat {
  background-color: rgb(13, 58, 206);
  max-height: 70%;
  border: black;
  border-style: solid;
  border-radius: 8px;
  padding: .5em 1em;
  font-weight: 700;
}




h3 {
  -webkit-text-fill-color: rgb(255, 255, 255);
  font-weight: 900;
  text-shadow: black;
  font-style: inherit;
}

h2 {
  -webkit-text-fill-color: white;
  text-align: left;
  padding-left: 5%;
}


div.top-bar {
  -webkit-text-fill-color: white;
  display: flex;
  justify-content: space-between;
  padding: 1%;
  flex-wrap: wrap;
}

nav.top {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}



main {
  display: flex;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  padding-top: 5%;
  gap: 50px;
  flex-wrap: wrap;
}


div.middle {
  max-width: 40%;
}



img {
  max-width: 50%;
}

main div p.service {
  -webkit-text-fill-color: yellow;
  padding: 5%;
}

main div p.mission-statement {
  text-align: left;
  -webkit-text-fill-color: white;
  padding: 5%;
}

button {
  background: unset;
  border: unset;
}

nav.bottom-bar {
  background-color: white;
  margin-bottom: 0;
  padding-bottom: 5%;
  -webkit-text-fill-color: blue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5%;
  text-decoration-line: underline;
  flex-wrap: wrap;
}


footer {
  background: rgb(210, 206, 206);
  margin-top: 0;
  padding-top: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}

h1 {
  padding-top: 10%;
  margin-top: 0;
  display: flex;
  justify-content: center;
  padding-top: 5%;
  flex-wrap: wrap;
}





p.end {
  padding-top: 0;
  margin-top: 0;
  flex-wrap: wrap;
}